{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="pagination-container">
      <div class="pagination-prev">
        {{ if .Paginator.HasPrev }}
          <a href="{{.Paginator.Prev.URL}}">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--blue">
              <i class="material-icons mdl-color-text--white">&#xE5C4;</i>
            </button>
            <span class="mdl-color-text--blue-500">
              Newer
            </span>
          </a>
        {{ end }}
      </div>
      <div class="pagination-next">
        {{ if .Paginator.HasNext }}
          <a href="{{.Paginator.Next.URL}}">
            <span class="mdl-color-text--blue-500">
              Older
            </span>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--blue" >
              <i class="material-icons mdl-color-text--white">&#xE5C8;</i>
            </button>
          </a>
        {{ end }}
      </div>
  </div>
{{ end }}
