{{ partial "header.html" . }}

<section class="main post non-narrow zero-top-spacing">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                    {{ partial "page-heading" . }}
                    <div class="initials"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.Initials }}</a></div>
                </div>
                <div class="meta">
                    <div class="date" title="{{ .Date.Format .Site.Params.dateformfull }}">{{ .Date.Format .Site.Params.dateform }}</div>
                </div>
                {{ if .Params.github }}
                  <div class="github">
                    <a href="{{ .Params.github }}" target="_blank">
                        <i class="icon ion-social-github"></i>
                        {{ .Params.github }}
                    </a>
                  </div>
                {{ end }}
                <div class="tags">
                  {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><i class="material-icons">local_offer</i>{{ . }}</a>
                  {{ end }}
                </div>
            </div>
            <div class="markdown">
                {{ .Content }}
                <br>
                <hr>
                <p><a href="/projects/" class="cta-back">👈 Back to Projects</a></p>
            </div>
            <br>
            <div class="disqus">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
