// @import url('https://fonts.googleapis.com/css?family=Roboto');

$desktop: "screen and (min-width: 840px)";

$tablet: "screen and (min-width: 480px) and (max-width: 839px)";

$mobile: "screen and (max-width: 479px)";
