.markdown {
  .summary {
    padding: 16px 16px 0px;
    float: right;

    p {
      font-size: 12px;
      margin: 0px;
      color: #777;
    }
  }
  .content {
    padding: 16px;
    font-size: 16px;
    clear: both;

    h1, h2, h3, h4, h5, h6 {
      color: #333;
    }
    pre {

    }
    p {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 1.4em;
      font-weight: 400;
      color: #333;
    }
    p:first-child {
      font-size: 17px;
      line-height: 30px;
      color: #333;
    }
    strong {
      font-weight: 800;
    }
    pre {
      padding: 8px;
      border: 1px solid rgba(1, 1, 1, 0.1);
      background: #fafafa;
    }
    code {
      background: #f9f2f4;
      color: #c7254e;
      font-size: 14px;
      padding: 3px;
      border-radius: 4px;
    }
    pre, code {
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }
    figure {
      text-align: center;

      img {
        max-width: 100%;
      }
    }
    .index {
      margin: 0px;
      display: inline-block;
      position: relative;
      float: left;
      margin: 0px 16px 16px 0px;
      width: 250px;

      @media #{$mobile} {
        width: 100%;
      }

      img {
        width: 100%;
        float: left;
      }
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }


  .markdown-footer {
    padding: 0px 16px 16px 16px;

    .markdown-footer--tags {
      width: 60%;
      float: left;
    }
    .markdown-footer--share {
      width: 40%;
      float: right;

      a {
        float: left;
        margin-right: 10px;
        font-size: 175%;
      }
    }
  }
}

.markdown.index {
  .content {
    a {
      color: rgb(76,175,80);
    }
  }
}
.markdown.projects {
  .content {
    a {
      color: rgb(255,152,0);
    }
  }
}
.markdown.blog {
  .content {
    a {
      color: rgb(33,150,243);
    }
  }
}
