html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0; }

body {
  background: #ededed;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important; }

body * {
  box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: initial !important; }

.page-header {
  position: relative; }
  .page-header .header-icon {
    font-size: 100%;
    line-height: 40px; }

.page-header__social-media {
  z-index: 2;
  overflow: hidden;
  height: 40px; }
  .page-header__social-media .social-media__icons-container {
    position: absolute;
    right: 40px;
    top: 0px;
    height: 40px; }
    @media screen and (max-width: 479px) {
      .page-header__social-media .social-media__icons-container {
        right: 20px; } }
    .page-header__social-media .social-media__icons-container .social-media__header-icon {
      font-size: 100%;
      height: 100%;
      line-height: 40px;
      margin-left: 10px;
      text-decoration: none; }

.page-header__site-nav {
  z-index: 1; }
  @media screen and (max-width: 479px) {
    .page-header__site-nav .mdl-layout__header-row {
      padding: 16px; } }

.masthead {
  position: relative;
  overflow: hidden;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  /* Desktop */ }
  @media screen and (min-width: 840px) {
    .masthead {
      padding: 40px 40px 120px 40px; } }
  @media screen and (min-width: 480px) and (max-width: 839px) {
    .masthead {
      padding: 20px 20px 100px 20px; } }
  @media screen and (max-width: 479px) {
    .masthead {
      padding: 0px 16px 20px 16px; } }
  .masthead .cover-photo {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-size: cover; }
  .masthead .page-title {
    position: relative;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
    padding: 16px 0px;
    height: auto;
    /* Desktop */ }
    @media screen and (min-width: 840px) {
      .masthead .page-title {
        width: 808px; } }
    @media screen and (min-width: 480px) and (max-width: 839px) {
      .masthead .page-title {
        width: 90%; } }
    @media screen and (max-width: 479px) {
      .masthead .page-title {
        width: 100%; } }
    .masthead .page-title .page-title--main {
      font-weight: 100; }
    .masthead .page-title .page-title--single {
      text-align: center;
      font-weight: 100; }
    .masthead .page-title .page-title--sub {
      font-weight: 400;
      line-height: 1.3; }
    .masthead .page-title .page-title--divider {
      max-width: 100px;
      margin: 0px auto 10px;
      border-width: 2px;
      border-color: #fff; }
    .masthead .page-title .page-title--summary {
      text-align: center;
      color: #fff;
      font-size: 16px;
      line-height: 1.5;
      margin: 0px;
      font-style: italic; }
  .masthead .masthead--accent {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 30px; }
    @media screen and (max-width: 479px) {
      .masthead .masthead--accent {
        height: 20px; } }

.content-wrapper--multi {
  position: relative;
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto; }
  @media screen and (min-width: 840px) {
    .content-wrapper--multi {
      width: 840px;
      top: -100px; } }
  @media screen and (min-width: 480px) and (max-width: 839px) {
    .content-wrapper--multi {
      width: 90%;
      top: -100px; } }
  @media screen and (max-width: 479px) {
    .content-wrapper--multi {
      width: 100%;
      top: 0px; } }
  .content-wrapper--multi .recent-post h4 {
    color: rgba(0, 0, 0, 0.7); }
  .content-wrapper--multi .recent-post .mdl-grid {
    padding: 0px; }
    .content-wrapper--multi .recent-post .mdl-grid .mdl-cell {
      margin: 0px;
      width: 100%; }
  .content-wrapper--multi .mdl-cell {
    margin-bottom: 8px; }
    .content-wrapper--multi .mdl-cell .mdl-card {
      width: 100%; }
      .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__media {
        position: relative;
        height: 200px;
        background-size: cover;
        border-bottom: 1px solid #eeeeee; }
        .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__media .mdl-card__link {
          position: absolute;
          z-index: 999;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__supporting-text {
        width: 100%;
        overflow: visible;
        padding-bottom: 0px; }
        .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__supporting-text .mdl-card__post-title {
          text-decoration: none; }
        .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__supporting-text .mdl-card__main-text {
          clear: both;
          margin-bottom: 20px; }
        .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__supporting-text .mdl-card__detail .mdl-card__tag {
          text-decoration: none; }
        .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__supporting-text .mdl-card__detail .mdl-card__link {
          float: right; }
      .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__actions {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-decoration: none;
        overflow: hidden; }
        .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__actions .mdl-card__actions-button {
          padding: 0 16px;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 36px; }
        .content-wrapper--multi .mdl-cell .mdl-card .mdl-card__actions i {
          line-height: 36px; }
  .content-wrapper--multi .pagination-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding: 16px; }
    .content-wrapper--multi .pagination-container .pagination-prev {
      -ms-flex-item-align: start;
          align-self: flex-start; }
      .content-wrapper--multi .pagination-container .pagination-prev span {
        padding-left: 10px; }
    .content-wrapper--multi .pagination-container .pagination-next {
      margin-left: auto; }
      .content-wrapper--multi .pagination-container .pagination-next span {
        padding-right: 10px; }
    .content-wrapper--multi .pagination-container a {
      text-decoration: none;
      font-weight: bold; }

.content-wrapper--single {
  position: relative;
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto; }
  @media screen and (min-width: 840px) {
    .content-wrapper--single {
      width: 840px;
      top: -100px; } }
  @media screen and (min-width: 480px) and (max-width: 839px) {
    .content-wrapper--single {
      width: 90%;
      top: -100px; } }
  @media screen and (max-width: 479px) {
    .content-wrapper--single {
      width: 100%;
      top: 0px; } }
  .content-wrapper--single .content-container {
    background: #fff; }

/* Footer */
.mdl-mini-footer {
  position: relative; }
  .mdl-mini-footer .footer--border {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 5px; }

.markdown .summary {
  padding: 16px 16px 0px;
  float: right; }
  .markdown .summary p {
    font-size: 12px;
    margin: 0px;
    color: #777; }
.markdown .content {
  padding: 16px;
  font-size: 16px;
  clear: both; }
  .markdown .content h1, .markdown .content h2, .markdown .content h3, .markdown .content h4, .markdown .content h5, .markdown .content h6 {
    color: #333; }
  .markdown .content p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 1.4em;
    font-weight: 400;
    color: #333; }
  .markdown .content p:first-child {
    font-size: 17px;
    line-height: 30px;
    color: #333; }
  .markdown .content strong {
    font-weight: 800; }
  .markdown .content pre {
    padding: 8px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    background: #fafafa; }
  .markdown .content code {
    background: #f9f2f4;
    color: #c7254e;
    font-size: 14px;
    padding: 3px;
    border-radius: 4px; }
  .markdown .content pre, .markdown .content code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
  .markdown .content figure {
    text-align: center; }
    .markdown .content figure img {
      max-width: 100%; }
  .markdown .content .index {
    margin: 0px;
    display: inline-block;
    position: relative;
    float: left;
    margin: 0px 16px 16px 0px;
    width: 250px; }
    @media screen and (max-width: 479px) {
      .markdown .content .index {
        width: 100%; } }
    .markdown .content .index img {
      width: 100%;
      float: left; }
  .markdown .content a {
    text-decoration: none; }
  .markdown .content a:hover {
    text-decoration: underline; }
.markdown .markdown-footer {
  padding: 0px 16px 16px 16px; }
  .markdown .markdown-footer .markdown-footer--tags {
    width: 60%;
    float: left; }
  .markdown .markdown-footer .markdown-footer--share {
    width: 40%;
    float: right; }
    .markdown .markdown-footer .markdown-footer--share a {
      float: left;
      margin-right: 10px;
      font-size: 175%; }

.markdown.index .content a {
  color: #4caf50; }

.markdown.projects .content a {
  color: #ff9800; }

.markdown.blog .content a {
  color: #2196f3; }
