$primary-1: #0e2439;
$primary-1-text: #fff;

$primary-2: #1f364d;
$primary-2-text: #fff;

$primary-3: #274059;
$primary-3-text: #fff;

$accent-1: #1e99e6;
$accent-1-text: #fff;

$body-text: #b9c9da;
$body-accent-text: #fff;

$link-text: #fff;