$primary-1: #fff;
$primary-1-text: #fff;

$primary-2: #E1E6F0;
$primary-2-text: #fff;

$primary-3: #274059;
$primary-3-text: #fff;

$accent-1: rgb(86, 137, 248);
$accent-1-text: #fff;
$accent-2: #4C84FF;
$accent-2-text: #fff;

$body-text: #3e4553;
$body-accent-text: #28314A;

$link-text: #000;

$page-background-dark: #F5F6FA;
$page-background-light: #FFF;

// #F5F6FA