<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "common/head.html" . }}

  <body class="mdl-color--grey-100">
    <!-- Social Media Bar -->
    <div class="mdl-color--white mdl-color-text--grey-100 page-header page-header__social-media">
      {{ partial "common/social_media_bar.html" . }}
    </div> <!-- /.Social Media Bar -->

    <!-- Navigation Header -->
    <header class="mdl-color--white mdl-color-text--grey-800 page-header page-header__site-nav mdl-shadow--2dp">
       <div class="mdl-layout__header-row">
          <!-- Site links -->
          <nav class="mdl-navigation">
             <a class="mdl-navigation__link mdl-color-text--grey-900" href="{{ .Site.BaseURL }}">Home</a>
             <a class="mdl-navigation__link mdl-color-text--{{ .Params.color }}" href="{{ .Site.BaseURL }}projects/">Projects</a>
             <a class="mdl-navigation__link mdl-color-text--grey-900" href="{{ .Site.BaseURL }}blog/">Blog</a>
          </nav>
       </div>
    </header> <!-- /.Navigation Header -->

    <!-- Masthead -->
    <div class="masthead mdl-color--{{ .Params.color }}-500">
      <div class="cover-photo" {{ if .Params.coverPhoto }} style="background-image: url('/img/compressed{{ .Params.coverPhoto }}')" {{ end }}>
      </div>
      <div class="page-title">
         <div class="mdl-typography--display-3 mdl-color-text--white page-title--main">
           {{ .Title }}
         </div>
         <div class="mdl-typography--headline mdl-color-text--white page-title--sub">
           {{ .Date.Format .Site.Params.dateform }} <br />
         </div>
         <div class="mdl-typography--title page-title--details mdl-color-text--white">
           {{ .FuzzyWordCount }} Words &middot; {{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}
         </div>
      </div>

      <!-- <div class="masthead--accent mdl-color--{{ .Params.color }}-700"></div> -->

      <div class="masthead--accent">
       <svg viewBox="0 0 100 100" width='100%' height='100%' preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
           <polygon points="0 100, 0 60, 100 0, 100 100" style="stroke:none" class="mdl-color-svg--{{ .Params.color }}-700"/>
       </svg>
     </div>
    </div> <!-- /.Masthead -->

    <!-- Content container -->
    <main class="content-wrapper--single">
      <!-- Grid container -->
      <div class="grid-container">
         <div class="mdl-grid">

           <div class="mdl-cell mdl-cell--12-col content-container mdl-shadow--2dp">
             <article class="markdown projects">
               <div class="content">
                 {{ .Content }}
               </div>
               <hr>
               <div class="markdown-footer">
                 <div class="markdown-footer--tags">
                   <h4 class="mdl-typography--title mdl-color-text--grey-800">
                     Tagged in
                   </h4>
                   {{ range .Params.projectTags }}
                     <a href="{{ "/projectTags/" | relLangURL }}{{ . | urlize }}" class="mdl-chip mdl-color--grey-200">
                     <span class="mdl-chip__text">{{ . }}</span>
                     </a>
                   {{ end }}
                 </div>
                 <div class="markdown-footer--share">
                   <h4 class="mdl-typography--title mdl-color-text--grey-800">
                     Share This Post
                   </h4>
                   <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                     <i class="fa fa-facebook mdl-color-text--grey-600" aria-hidden="true"></i>
                   </a>
                   <a href="https://twitter.com/share?text={{ .Title | safeHTML}}&amp;url={{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                     <i class="fa fa-twitter mdl-color-text--grey-600" aria-hidden="true"></i>
                   </a>
                 </div>

                 {{ template "_internal/disqus.html" . }}
              </div>

             </article>
           </div>

         </div>


      </div> <!-- /.Grid Container -->

    </main> <!-- /.Content Container -->

    <!-- Footer -->
    {{ partial "common/footer.html" . }}<!-- /.Footer -->

    <script src="{{ .Site.BaseURL }}js/prism.js"></script>
    <script src="{{ .Site.BaseURL }}js/material.min.js"></script>
  </body>
</html>
