<div class="mdl-cell mdl-cell--{{ .Params.desktopWidth }}-col mdl-cell--{{ .Params.mobileWidth }}-col-tablet mdl-cell--top">
   <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__media mdl-color--grey-200" {{ if .Params.thumbnail }} style="background-image: url('/img/compressed{{ .Params.thumbnail }}')" {{ end }}>

      </div>
      <div class="mdl-card__supporting-text">
        <h4 class="mdl-typography--display-1 mdl-color-text--grey-800">
          {{ if .Truncated }}
            <a href="{{ .RelPermalink }}" class="mdl-color-text--grey-800 mdl-card__post-title">
          {{ end}}
          {{ .Title }}
          {{ if .Truncated }}
            </a>
          {{end}}
        </h4>

         <p class="mdl-card__main-text">
            {{ .Summary }}
         </p>

         <p class="mdl-color-text--grey-500 mdl-card__detail">
              {{ .Site.Params.author }} &middot;
              {{ .Date.Format .Site.Params.dateform }} &middot;

              {{ with .Params.projectTags }}
                Tagged in:
                {{ $sort := sort . }}
                {{ $links := apply $sort "partial" "project/project_tag_link" "." }}
                {{ $clean := apply $links "chomp" "." }}
                {{ delimit $clean ", " }}
              {{ end }}
         </p>
      </div>

      {{ if .Truncated }}
        <a class="mdl-card__actions mdl-card--border mdl-js-ripple-effect" href="{{ .RelPermalink }}">
          <span class="mdl-ripple"></span>
          <div class="mdl-card__actions-button mdl-color-text--{{ .Params.color }}">
            READ MORE
          </div>
          <!-- <div class="mdl-layout-spacer"></div>
          <i class="material-icons mdl-color-text--orange">&#xE5C8;</i> -->
       </a>
     {{ end }}
    </div>

   </div>
