<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body class="mdl-color--grey-100">
    <!-- Social Media Bar -->
    <div class="mdl-color--white mdl-color-text--grey-100 page-header page-header__social-media">
      {{ partial "social_media_bar.html" . }}
    </div> <!-- /.Social Media Bar -->

    <!-- Navigation Header -->
    <header class="mdl-color--white mdl-color-text--grey-800 page-header page-header__site-nav mdl-shadow--2dp">
       <div class="mdl-layout__header-row">
          <!-- Site links -->
          <nav class="mdl-navigation">
             <a class="mdl-navigation__link mdl-color-text--grey-900" href="{{ .Site.BaseURL }}">Home</a>
             <a class="mdl-navigation__link mdl-color-text--{{ .Params.color }}" href="{{ .Site.BaseURL }}projects/">Projects</a>
             <a class="mdl-navigation__link mdl-color-text--grey-900" href="{{ .Site.BaseURL }}blog/">Blog</a>
          </nav>
       </div>
    </header> <!-- /.Navigation Header -->

    <!-- Masthead -->
    <div class="masthead mdl-color--{{ .Params.color }}-500">
       <div class="page-title">
          <div class="mdl-typography--display-3 mdl-color-text--white page-title--main">
            Projects
          </div>
          <div class="mdl-typography--title mdl-color-text--white page-title--sub">
            Category : All
          </div>
       </div>
       <!-- <div class="masthead--accent mdl-color--{{ .Params.color }}-700"></div> -->

       <div class="masthead--accent">
        <svg viewBox="0 0 100 100" width='100%' height='100%' preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <polygon points="0 100, 0 60, 100 0, 100 100" style="stroke:none" class="mdl-color-svg--{{ .Params.color }}-700"/>
        </svg>
      </div>
    </div> <!-- /.Masthead -->

    <!-- Content container -->
    <main class="content-wrapper--multi">
      <!-- Grid container -->
      <div class="grid-container">
         <div class="mdl-grid">

          {{ range (.Paginator 4).Pages.ByPublishDate }}
            {{ partial "post_li.html" . }}
          {{ end }}

         </div>

      </div> <!-- /.Grid Container -->

      <!-- Paginator -->
        {{ partial "paginator.html" . }}
      <!-- /.Paginator -->

    </main> <!-- /.Content Container -->

    <!-- Footer -->
    {{ partial "footer.html" . }}<!-- /.Footer -->

    <script src="{{ .Site.BaseURL }}js/material.min.js"></script>
  </body>
</html>
