body {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 30px;
	text-transform: uppercase;
}

label {
	padding-top: 10px;
}

xmp {
	margin-top: 0px;
	overflow: auto;
	width: 100%;
	max-height: 400px;
	background: #fff;
	padding: 15px;
    box-shadow: 0px 0px 8px rgba(136, 136, 136, 0.22);
}

code {
	padding: 0px;
}

.breadcrumb {
	width: 900px;
}

.container {
	background: #fcfffe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfffe 0%, #f5f5f5 47%, #d3dde5 100%); 
	background: -webkit-linear-gradient(top,  #fcfffe 0%,#f5f5f5 47%,#d3dde5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fcfffe 0%,#f5f5f5 47%,#d3dde5 100%); 
	border: 1px solid #e4e4e4;
	padding: 25px 25px 10px 25px;
	border-radius: 0px 30px 10px 10px;
	position: relative;
}

.container .logo {
	width: 213px;
	height: 95px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url('../assets/SD_logo.png');
	background-size: 100%;
	margin: 15px;
}

.container-4thway {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li>a {
	cursor: pointer !important;
}

.panel {
	background-color: #f9f9f9;
}

.panel .padding-fix {
	padding: 25px 25px 25px 25px;
}

.pannel.banners .panel-body {
	padding: 0px;
}

.panel-info .panel-heading {
	background-image: none;
}

#new-4thway-panel, #retrieved-4thway-panel {
	background-color: #fff;
}

.tab-link {
    cursor: pointer;
}

.container-4thway .padding-fix .panel .panel-body {
	padding: 0px;
}

.new-banners tr:first-child .glyphicon {
	color: #3276b1;
}

.input-group {
	padding: 5px 5px 5px 5px;
}

.well {
	margin-bottom: 0px;
	overflow: auto;
}

.banner-panel {
	background-color: #fff;
	padding: 5px;
	margin-bottom: -1px;
	border-radius: 0px;
}

.banner-header {
	font-weight: bold;
}

.dummy-link {
	color: #2e6da5;
}

.glyphicon-minus, .glyphicon-plus {
	cursor: pointer;
}

.input-group-btn.straight button {
	border-radius: 0px;
}


.modal-content {
    text-align: center;
}

.loading-gif {
    background: url("../assets/loading.GIF");
    height: 64px;
    width: 64px;
    background-size: 100%;
    margin: auto;
}

