{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class="page-heading">Taxonomys</div>
            <div>Projects tagged with <strong>{{ .Title }}</strong></div>
            <ul>
                {{ range .Data.Pages.ByPublishDate }}
                {{ partial "list-item.html" . }}
                {{ end }}
            </ul>
            <a href="/projects">Back to projects</a>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
