<div class="mdl-cell mdl-cell--{{ .Params.desktopWidth }}-col mdl-cell--{{ .Params.mobileWidth }}-col-tablet mdl-cell--top">
   <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__media mdl-color--grey-200" style="background-image: url('{{ .Site.BaseURL }}img/{{ .Params.thumbnail }}')" >
         <div class="mdl-card__title mdl-card--expand" >
            <div class="mdl-card__title-bg mdl-color--green-800">
            </div>
            <h2 class="mdl-card__title-text mdl-color-text--white">
              {{ .Title }}
            </h2>
         </div>
        <!-- <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-card__share-button" href="https://twitter.com/share?text={{ .Title | safeHTML}}&amp;url={{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <i class="fa fa-twitter mdl-color-text--green-800" aria-hidden="true"></i>
        </a>
        <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-card__share-button" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <i class="fa fa-facebook mdl-color-text--green-800" aria-hidden="true"></i>
        </a> -->
      </div>
      <div class="mdl-card__supporting-text">
         <div class="mdl-card__date-text mdl-color-text--grey-500">
            {{ .Date.Format .Site.Params.dateform }}
         </div>
         <p class="mdl-card__main-text">
           {{ .Summary }}
         </p>
      </div>
      <div class="mdl-card__actions">
        {{ range .Params.projectTags }}
          <a href="{{ "/projectTags/" | relLangURL }}{{ . | urlize }}" class="mdl-chip mdl-color--grey-200">
          <span class="mdl-chip__text">{{ . }}</span>
          </a>
        {{ end }}
        {{ if .Truncated }}
          <div class="mdl-card__read-more-container">
             <a class="mdl-button mdl-color-text--green mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ .RelPermalink }}">
             Read More
             </a>
          </div>
        {{ end }}
      </div>
   </div>
</div>
