@import url("https://fonts.googleapis.com/css?family=Roboto");
::selection {
  background: #F44336;
  color: #FFFFFF; }

::-moz-selection {
  background: #F44336;
  color: #FFFFFF; }

html {
  height: 100%; }

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-weight: 350;
  font-size: 16px; }

body.no-scroll {
  height: 100%;
  overflow: hidden; }

body * {
  box-sizing: border-box; }

a {
  color: #F44336;
  text-decoration: none; }

.dim {
  display: none;
  position: fixed;
  opacity: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541176);
  transition: opacity 0.4s cubic-bezier(0.1, 0.57, 0.1, 1); }

.dim.active {
  opacity: 1; }

.side-drawer {
  display: none;
  position: fixed;
  height: 100%;
  width: 70%;
  z-index: 999999;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: translateX(-100%); }
  .side-drawer .drawer-header {
    position: relative;
    width: 100%;
    padding: 24px;
    background: #F44336;
    color: #FFFFFF; }
    .side-drawer .drawer-header .close {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 10px;
      font-size: 150%;
      color: #000000; }
  .side-drawer .content .divider {
    border-color: #EEEEEE;
    border-top: none; }
  .side-drawer .content .menu-item.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70%;
    color: #8f8f8f; }
  .side-drawer .content .menu-item {
    display: block;
    color: #666666;
    padding: 16px; }
    .side-drawer .content .menu-item .left-icon {
      display: inline-block;
      width: 20px; }
    .side-drawer .content .menu-item .arrow {
      position: absolute;
      right: 20px; }
  .side-drawer .content .menu-item.rss {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background: #f8f8f8;
    font-size: 100%; }

.side-drawer.active {
  transform: translateX(0px); }

.side-drawer.animate-on-transforms {
  transition: transform 0.4s cubic-bezier(0.1, 0.57, 0.1, 1); }

.header {
  position: fixed;
  background: #FFFFFF;
  width: 100%;
  z-index: 99999; }
  @media screen and (max-width: 600px) {
    .header {
      height: 60px;
      padding: 0px; } }
  @media screen and (min-width: 600px) {
    .header {
      height: 100px;
      padding: 0px 20px 0px 20px; } }
  .header .site-nav-container {
    position: relative;
    height: 100%;
    border-bottom: 1px solid #EEEEEE; }
    .header .site-nav-container .logo-container {
      padding: 10px;
      position: absolute;
      bottom: 0px;
      z-index: 10; }
      @media screen and (max-width: 600px) {
        .header .site-nav-container .logo-container {
          right: 0px; } }
      @media screen and (min-width: 600px) {
        .header .site-nav-container .logo-container .logo {
          height: 50px;
          width: 50px; } }
      @media screen and (max-width: 600px) {
        .header .site-nav-container .logo-container .logo {
          height: 35px;
          width: 35px; } }
  .header .site-nav {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    width: 100%;
    text-transform: uppercase; }
    .header .site-nav .nav-lg {
      padding-left: 70px; }
      @media screen and (max-width: 600px) {
        .header .site-nav .nav-lg {
          display: none; } }
      .header .site-nav .nav-lg .left-aligned {
        float: left; }
      .header .site-nav .nav-lg .right-aligned {
        float: right;
        color: #8f8f8f; }
      .header .site-nav .nav-lg a {
        transition: color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        color: #8f8f8f; }
      .header .site-nav .nav-lg a:hover, .header .site-nav .nav-lg a.selected {
        color: #F44336; }
      .header .site-nav .nav-lg a, .header .site-nav .nav-lg p {
        float: left;
        padding: 10px; }
    .header .site-nav .nav-sm {
      padding-left: 15px; }
      @media screen and (min-width: 600px) {
        .header .site-nav .nav-sm {
          display: none; } }
      .header .site-nav .nav-sm a {
        margin-right: 10px;
        font-size: 150%; }
      .header .site-nav .nav-sm i {
        font-size: 150%; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  z-index: 1; }
  @media screen and (min-width: 980px) {
    .main {
      width: 900px; } }
  @media screen and (max-width: 979px) {
    .main {
      width: 600px; } }
  @media screen and (min-width: 600px) {
    .main {
      margin: 150px auto;
      margin-bottom: 0px;
      padding: 10px; } }
  @media screen and (max-width: 600px) {
    .main {
      width: 100%;
      padding: 20px;
      margin: 40px auto;
      margin-bottom: 0px; } }
  .main .content .disqus {
    margin-bottom: 1.75rem; }
  .main .content .front-matter {
    background: #f66258;
    padding: 20px;
    margin-bottom: 2rem;
    color: #fff; }
    @media screen and (max-width: 600px) {
      .main .content .front-matter {
        margin-top: 1.75rem; } }
  .main .content .page-heading {
    font-size: 175%;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 1.75rem; }
  .main .content .meta,
  .main .content .github {
    line-height: 1.4;
    margin-bottom: 1.5rem; }
    .main .content .meta a,
    .main .content .github a {
      color: #ffffff;
      border-bottom: 1px solid; }
  .main .content .tags {
    margin-bottom: 0.5rem; }
    .main .content .tags a {
      display: inline-block;
      color: #FFFFFF;
      padding: 10px;
      border: 1px solid #FFFFFF;
      margin-right: 10px;
      margin-bottom: 10px; }
      .main .content .tags a .material-icons {
        font-size: 100%;
        margin-right: 5px; }
    .main .content .tags a:hover {
      color: #f66258;
      background: #FFFFFF; }
  .main .content .cta-back {
    padding: 10px; }
  .main .content .cta-back:hover {
    border: 1px solid;
    padding: 9px; }

.footer {
  position: relative;
  background: #f8f8f8;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #EEEEEE; }
  .footer .container {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 1.8; }
    .footer .container .icons a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: #8f8f8f;
      transition: color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
      padding: 10px 20px 18px 0; }
    .footer .container .icons a:hover, .footer .container .icons a.selected {
      color: #F44336; }
