<!-- CSS -->

{{ if .Site.Params.highlightjs }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
{{ end }}

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/material.min.css">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{ .Site.BaseURL }}fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/prism.min.css">

{{range .Site.Params.extracssfiles}}
    <link rel="stylesheet" href="{{.}}">
{{end}}

<!-- Icon -->
<link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico">

<!-- RSS -->
{{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->
