<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow">

<meta name="url" content="{{ .Site.BaseURL }}">

<base href="{{ .Site.BaseURL }}">
<title>
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ if eq $url "" }}
    {{ .Site.Title }}
{{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Site.Title }} - {{ .Title }} {{ end }}
{{ end }}
</title>
<link rel="canonical" href="{{ .Permalink }}">
<meta name="author" content="{{ .Site.Params.author }}">


{{ partial "common/head_includes.html" . }}

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "{{ .Site.Params.author }}",
      "url": "https://asaunders.com",
      "sameAs": [
        {{ if .Site.Params.twitter }}
        "https://twitter.com/{{ .Site.Params.twitter }}",
        {{ end }}
        {{ if .Site.Params.linkedin }}
        "https://www.linkedin.com/in/{{ .Site.Params.linkedin }}",
        {{ end }}
        {{ if .Site.Params.googleplus }}
        "https://plus.google.com/+{{ .Site.Params.googleplus }}",
        {{ end }}
        {{ if .Site.Params.github }}
        "https://github.com/{{ .Site.Params.github }}"
        {{ end }}
      ]
    }
  </script>
</head>
