<div class="mdl-layout__header-row">
  <div class="avatar">
  </div>
   <!-- Add spacer, to align navigation to the right -->
   <div class="mdl-layout-spacer"></div>
   <!-- Social Media Links -->
   <nav class="social-media__icons-container">
     {{ if .Site.Params.github }}
        <a class="social-media__header-icon mdl-color-text--grey-800" href="https://github.com/{{ .Site.Params.github }}" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      {{ end }}

      {{ if .Site.Params.linkedin }}
        <a class="social-media__header-icon mdl-color-text--grey-800" href="https://uk.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      {{ end }}

      {{ if .Site.Params.twitter }}
        <a class="social-media__header-icon mdl-color-text--grey-800" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      {{ end }}

      {{ if .Site.Params.codepen }}
        <a class="social-media__header-icon mdl-color-text--grey-800" href="http://codepen.io/{{ .Site.Params.codepen }}" target="_blank">
          <i class="fa fa-codepen" aria-hidden="true"></i>
        </a>
      {{ end }}

      {{ if .Site.RSSLink }}
        <a class="social-media__header-icon mdl-color-text--grey-800" href="{{ .Site.RSSLink }}" target="_blank">
          <i class="fa fa-rss" aria-hidden="true"></i>
        </a>
      {{ end }}
   </nav>
</div>
