html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #ededed;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif !important;
}
body * {
  box-sizing: border-box;
}
a {
  -webkit-tap-highlight-color: initial !important;
}


.page-header {
  position: relative;

  .header-icon {
    font-size: 100%;
    line-height: 40px;
  }
}
.page-header__social-media {
  z-index: 2;
  overflow: hidden;
  height: 40px;

  .social-media__icons-container {
    position: absolute;
    right: 40px;
    @media #{$mobile} { right: 20px; }
    top: 0px;
    height: 40px;

    .social-media__header-icon {
      font-size: 100%;
      height: 100%;
      line-height: 40px;
      margin-left: 10px;
      text-decoration: none;
    }
  }
}
.page-header__site-nav {
  z-index: 1;

  .mdl-layout__header-row {
    @media #{$mobile} { padding: 16px; }
  }
}

.masthead {
  position: relative;
  overflow: hidden;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;

  /* Desktop */
  @media #{$desktop} {
    padding: 40px 40px 120px 40px;
  }
  @media #{$tablet} {
    padding: 20px 20px 100px 20px;
  }
  @media #{$mobile} {
    padding: 0px 16px 20px 16px;
  }

  .cover-photo {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-size: cover;
  }

  .page-title {
    position: relative;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
    padding: 16px 0px;
    height: auto;

    /* Desktop */
    @media #{$desktop} {
      width: 808px;
    }
    @media #{$tablet} {
      width: 90%;
    }
    @media #{$mobile} {
      width: 100%;
    }

    .page-title--main {
      font-weight: 100;
    }
    .page-title--single {
      text-align: center;
      font-weight: 100;
    }
    .page-title--sub {
      font-weight: 400;
      line-height: 1.3;
    }
    .page-title--divider {
      max-width: 100px;
      margin: 0px auto 10px;
      border-width: 2px;
      border-color: #fff;
    }
    .page-title--summary {
      text-align: center;
      color: #fff;
      font-size: 16px;
      line-height: 1.5;
      margin: 0px;
      font-style: italic;

    }
  }

  .masthead--accent {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 30px;

    @media #{$mobile} {
      height: 20px;
    }
  }
}

.content-wrapper--multi {
  position: relative;
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto;

  @media #{$desktop} {
    width: 840px;
    top: -100px;
  }
  @media #{$tablet} {
    width: 90%;
    top: -100px;
  }
  @media #{$mobile} {
    width: 100%;
    top: 0px;
  }

  .recent-post {
    h4 {
      color: rgba(0,0,0,0.7);
    }

    .mdl-grid {
      padding: 0px;

      .mdl-cell {
        margin: 0px;
        width: 100%;
      }
    }
  }

  .mdl-cell {
    margin-bottom: 8px;

    .mdl-card {
      width: 100%;

      .mdl-card__media {
        position: relative;
        height: 200px;
        background-size: cover;
        border-bottom: 1px solid rgb(238, 238, 238);

        .mdl-card__link {
          position: absolute;
          z-index: 999;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .mdl-card__supporting-text {
        width: 100%;
        overflow: visible;
        padding-bottom: 0px;

        .mdl-card__post-title {
          text-decoration: none;
        }

        .mdl-card__main-text {
          clear: both;
          margin-bottom: 20px;
          line-height: 1.5;
          font-size: 16px;
        }

        .mdl-card__detail {

          .mdl-card__tag {
            text-decoration: none;
          }
          .mdl-card__link {
            float: right;
          }

        }
      }

      .mdl-card__actions {
        position: relative;
        display: flex;
        text-decoration: none;
        overflow: hidden;

        .mdl-card__actions-button {
          padding: 0 16px;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 36px;
        }
        i {
          line-height: 36px;
        }
      }
    }
  }

  .pagination-container {
    display: flex;
    height: auto;
    padding: 16px;

    .pagination-prev {
      align-self: flex-start;

      span {
        padding-left: 10px;
      }
    }

    .pagination-next {
      margin-left: auto;

      span {
        padding-right: 10px;
      }
    }

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.content-wrapper--single {
  position: relative;
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto;

  @media #{$desktop} {
    width: 840px;
    top: -100px;
  }
  @media #{$tablet} {
    width: 90%;
    top: -100px;
  }
  @media #{$mobile} {
    width: 100%;
    top: 0px;
  }

  .content-container {
    background: #fff;

  }
}

/* Footer */
.mdl-mini-footer {
  position: relative;

  .footer--border {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 5px;
  }
}
