<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
{{ $urlSlices := split .RelPermalink "/" }}

<body lang="{{ .Site.Params.lang }}">

<header class="header">
  <nav class="site-nav-container">
      <a href="{{ .Site.BaseURL }}" class="logo-container"><img class="logo" src="{{ .Site.BaseURL }}/img/logo.jpg" /></a>
      <div class="site-nav">
        <div class="wide-nav">
          <div class="left-aligned">
            <a href="{{ .Site.BaseURL }}" {{ if (eq .RelPermalink "/") }}class="selected"{{ end }}>About Me</a>
            <a href="{{ .Site.BaseURL }}/projects/" {{ if or (in $urlSlices "projects") (in $urlSlices "tags") }}class="selected"{{ end }}>Projects</a>
            {{ if .Site.Params.github }}
                <a href="{{ .Site.Params.github }}" target="_blank">
                    <i class="icon ion-social-github"></i>
                </a>
            {{ end }}

            {{ if .Site.Params.twitter }}
                <a href="{{ .Site.Params.twitter }}" target="_blank">
                    <i class="icon ion-social-twitter"></i>
                </a>
            {{ end }}

            {{ if .Site.Params.linkedin }}
                <a href="{{ .Site.Params.linkedin }}" target="_blank">
                    <i class="icon ion-social-linkedin"></i>
                </a>
            {{ end }}

            {{ if .Site.Params.email }}
                <a href="mailto:{{ .Site.Params.email }}">
                    <i class="icon ion-ios-email larger"></i>
                </a>
            {{ end }}
          </div>
          <div class="right-aligned">
            <p>
              Alex Saunders
            </p>
            {{ if .Site.RSSLink }}
                <a href="{{ .Site.RSSLink }}" target="_blank">
                    <i class="icon ion-social-rss larger"></i>
                </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
