<div class="dim" id="dim">
</div>
<div class="side-drawer" id="side-drawer">
  <div class="drawer-header">
    {{ .Site.Title }}
  </div>
  <div class="content">
    <div class="menu-item section-title">
      Navigation
    </div>
    <a class="menu-item" href="{{ .Site.BaseURL }}">
      About Me
      <i class="arrow icon ion-ios-arrow-right"></i>
    </a>
    <a class="menu-item" href="{{ .Site.BaseURL }}/projects/">
      Projects
      <i class="arrow icon ion-ios-arrow-right"></i>
    </a>
    <hr class="divider">
    <div class="menu-item section-title">
      Contact
    </div>
    {{ if .Site.Params.github }}
        <a class="menu-item" href="{{ .Site.Params.github }}" target="_blank">
            <i class="left-icon icon ion-social-github"></i>
            Github
            <i class="arrow icon ion-ios-arrow-right"></i>
        </a>
    {{ end }}

    {{ if .Site.Params.twitter }}
        <a class="menu-item" href="{{ .Site.Params.twitter }}" target="_blank">
            <i class="left-icon icon ion-social-twitter"></i>
            Twitter
            <i class="arrow icon ion-ios-arrow-right"></i>
        </a>
    {{ end }}

    {{ if .Site.Params.linkedin }}
        <a class="menu-item" href="{{ .Site.Params.linkedin }}" target="_blank">
            <i class="left-icon icon ion-social-linkedin"></i>
            LinkedIn
            <i class="arrow icon ion-ios-arrow-right"></i>
        </a>
    {{ end }}

    {{ if .Site.Params.email }}
        <a class="menu-item" href="mailto:{{ .Site.Params.email }}">
            <i class="left-icon icon ion-ios-email larger"></i>
            Email
            <i class="arrow icon ion-ios-arrow-right"></i>
        </a>
    {{ end }}

    {{ if .Site.RSSLink }}
        <a class="menu-item rss section-title" href="{{ .Site.RSSLink }}" target="_blank">
            <i class="left-icon icon ion-social-rss larger"></i>
            
        </a>
    {{ end }}

  </div>
</div>
