html {
	height:100%;
}

/* Main body */
body {
	margin: 0px;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}
/* Header (Top Menu) */
header {
	position: fixed;
	width: 100%;
	height: 60px;
    min-height: 50px;
    background: #3b3b3b;
    background: -webkit-linear-gradient(to left, #3b3b3b, #434343);
    background: linear-gradient(to left, #3b3b3b , #434343);
    opacity: 1.0;
    color: white;
	font-size: 1rem;
    margin-top: 3px;
	z-index: 1;
}
.header.title {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}
.header.info {
    width: 100%;
	height:75%;
	position: absolute;
	top:12.5%;
	left:0.5%;
}
/* Hols the main page content above the footer */
main {
    position: relative;
    min-height: 92%;
    background: #00c6ff;
    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff);
    background: linear-gradient(to left, #00c6ff , #0072ff);
    color: #777;
    margin-top: -5px;
    padding-top: 45px;
}
main.index {
	min-height: 100%;
	margin-top: 0px;
    padding-top: 0px;
}

footer {
    background: #3b3b3b;
    background: -webkit-linear-gradient(to left, #3b3b3b, #434343);
    background: linear-gradient(to left, #3b3b3b , #434343);
    padding: 50px;
    height: 100px;
    position: relative;
}
.a.footer {
	display: inline-block;
	color: #5048E8;
	text-decoration: none;
	margin-bottom: 5px;
	transition: color .2s;
}
.footer-title {
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
	text-transform: uppercase;
}
.a.footer:hover {
	color: #4E80E8;
}
.footer-table {
    color: #ffffff;
}
.footer-table td {
	vertical-align: top;
}
/* Arrow to point to the footer */
.footer-pointer {
	position: absolute;
	bottom: 1%;
	left: 49%;
	color: white;
}
/* Calender bold override */
h2 {
	font-weight: normal;
    font-size: 1.2rem;
}
th {
	font-weight: normal;
}
/* Holds the main content within the page */
.container {
    position: relative;
    display:inline-block;
    margin-top: 3%;
    margin-bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 54px -8px rgba(0, 0, 0, 1);
    border-top: 5px solid #969696;
    max-width: 90%;
}
.container.login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
    padding: 35px;
}
/* Holds all profile information */
.profile-view tr td {
    vertical-align: top;
}
/* Content box within container */
.info-box {
	background-color: #F3F8F9;
    border: 1px solid #EFEFEF;
    padding: 20px;
    border-radius: 10px;
}
.info-box.student-result {
    padding: 5px;
    background-color: white;
    border: none;
}
.section-title {
	margin-bottom: 20px;
    margin-top: 10px;
    cursor:default;
}
.section-title.text {
    display: block;
    width: 96%;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    color: #5D5D5D;
    letter-spacing: .2rem;
    font-weight: 500;
    border: 1px solid #717171;
}

.results-summary-title {
    display: inline-block;
    width: 97%;
    background-color: #009AFD;
    padding: 9px;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .2em;
}

/* Test Result Title */
.test-result {
    width: 98%;
    display: inline-block;
}
.test-result.text {
    padding: 10px;
    border-radius: 5px;
    color: white;
    letter-spacing: .2rem;
    font-size: 0.8rem;
}
.test-result.text.pass {
    background-color: #52B552;
}
.test-result.text.fail {
    background-color: #BB4444;
}
/* Logos */
.logo {
	vertical-align: middle;
	height: 50px;
	margin-right: 5px;
}
.logo.header {
	height:100%;
}
/* Main title within main content */
.title {
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: .2em;
}
/* Holds the login form */
.login-container {
	width: 24rem;
}
/* Fields within forms */
.field {
    position: relative;
    margin-bottom: 2em;
}
/* Labels for input boxes */
.label {
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    bottom: 0;
    color: #999;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input {
    width: 100%;
    font-size: 100%;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #eee;
    color: #777;
    transition: all .2s ease-in;
}
.input:focus {
    outline: 0;
    border-color: #ccc;
}
/* If input box has been focused (clicked), animate its labels text */
.input:focus + .label,
input:valid + .label {
    transform: translateY(-100%);
    font-size: 0.75rem;
    color: #ccc;
}

/* Buttons */
.btn {
    cursor: pointer;
    border: 0;
    font-size: 0.75rem;
    height: 2.5rem;
    padding: 0 1rem;
    color: white;
    background: #009AFD;
    text-transform: uppercase;
    border-radius: .25rem;
    letter-spacing: .2em;
    transition: all .2s ease;
}
.btn:focus {
    outline: 0;
}
.btn:hover,
.btn:focus {
    background: #0086DC;
}
.btn.footer {
	background: #777777;
}
.btn.footer:focus {
    outline: 0;
}
.btn.footer:hover,
.btn.footer:focus {
    background: #5e5e5e;
}
.btn.header.logout {
	background: #BB4444;
	float: right;
    margin-right: 15px;
}
.btn.header.logout:focus {
    outline: 0;
}
.btn.header.logout:hover,
.btn.header.logout:focus {
    background: #a52e2e;
}
.btn.header {
	height: 100%;
    background: none;
}

.btn.header:focus {
    outline: 0;
}
.btn.header:hover,
.btn.header:focus {
    opacity: 0.8;
}

.name {
	display: inline-block;
}

.loading-spinner {
    text-align: center;
    color: #9E9E9E;
}

.loading {
    color: #9E9E9E;
}

.class-select-container {
    margin-top: 5px;
}

/* Holds all canvases (for use within Chart.js) */
.canvas-container {
    display: none;
}

.answer-table {
    background-color: #F6F6F6;
    border-color: #C5C5C5;
    color: #494949;
    border-collapse: collapse;
}

.answer-table tr td {
    vertical-align: bottom;
}

.answer-table-header {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.correct-answer {
    background-color: rgba(155, 220, 155, 0.18);
    vertical-align: middle;
}

.incorrect-answer {
    background-color: rgba(220, 155, 155, 0.18);
    vertical-align: middle;
}

.class-list {
    border: 1px solid #717171;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    text-align: left;
    padding: 0.4em 2.1em 0.4em 1em;
    display: block;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
}

/* error text i.e. for incorrect username or password */
.error {
	color: red;
	border-radius: 8px;
	background-color: #ffeeee;
	border: 1px solid red;
	padding: 10px;
}

.center {
    text-align: center;
}

.select-menu {
    width: 100%;
}

.modal {
    display:none;
    text-align: center;
}

.loading {
    text-align: center;
    color: #969796;
}

/* override jqueryUI accordion styling */
#accordion .ui-accordion-content { padding: 0.5em 0.5em; }

#student-breakdown .ui-accordion-content { padding: 0.5em 0.5em; }