@import '../theme';

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 68px 20px 20px 20px;

  .footer-section {
    color: $body-text;

    @media #{$mobile} {
      text-align: right;
    }
  }
  
  @media #{$mobile} {
    flex-direction: column;
    margin: 20px 0 0 0;
  }
}