@import '../theme';
@import '../mixins';

.page-container--gradient {
  background-color: $page-background-dark;
}
.page-container--block {
  background-color: $page-background-dark;

  .content-wrapper {
    background-color: $page-background-light;
  }
  .footer {
    background-color: $page-background-light;
  }
}
.page-container--gradient, .page-container--block {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding: 124px 0 60px 0;
  margin: -64px 0;

  @media #{$mobile} {
    padding: 80px 0 60px 0;
  }

  .slug {
    display: inline-block;
    margin: 0;
    padding: 4px 8px;
    color: $body-accent-text;
    background: $primary-1;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.05);

    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
  }

  .content-wrapper {
    position: relative;
    width: 100%;
    margin: 80px 0 0 0;
    padding: 80px 0 0 0;

    .wrapper-image {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 120px;
      width: 120px;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid $primary-2;

      background-color: $primary-3;
      background-size: cover;
    }
  }

  .cell-masthead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 32px 0;

    .masthead-title {
      font-size: 44px;
      text-align: center;
      color: $body-accent-text;
      margin: 0 0 20px 0;
    }
    .masthead-subtitle {
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 8px 0;
    }
    .masthead-icon {
      @include block-link();
      padding: 8px;

      svg {
        fill: $body-text;
      }
    }
  }

  .post-preview--featured {
    margin: 0 0 24px 0;
    background-color: $primary-1;
    box-shadow: 0px 3px 30px rgba(0,0,0,0.1);

    @media #{$desktop} {
      margin: 0 0 40px 0;
    }

    .preview-wrapper {
      .preview-link {
        display: inline-block;
        text-decoration: none;

        &:hover {
          .preview-title--featured {
            @include title-link();
          }
        }

        .preview-body {
          padding: 0 16px 16px;

          .preview-title--featured {
            font-size: 40px;
            color: $body-accent-text;
            margin: 40px 0 20px 0;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;

            &:before {
              display: inline;
              content: '🌟 ';
            }
          }
          .preview-summary--featured {
            color: $body-text;
            font-size: 16px;
            line-height: 1.4;
          }
        }
      }

      .preview-footer {
        display: grid;
        grid-template-columns: 24px 1fr auto 24px;
        align-items: center;
        height: 56px;
        padding: 16px;
        background: $primary-1;

        svg {
          fill: $body-text;
          flex-shrink: 0;
        }
        .date, .tags {
          height: 24px;
          padding: 0 8px;
          display: flex;
          flex-direction: row;
          align-items: center;
          white-space: nowrap;
        }
        .tags {
          margin: 0;

          li {
            display: inline-block;
            margin: 0 2px;
          }
        }
      }
    }
  }

  .post-preview {
    position: relative;
    max-width: 100%;
    border-radius: 3px;

    @media #{$desktop} {
      transform: scale(1);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      &:active {
        transform: scale(1.01);
      }
    }

    .slug {
      position: absolute;
      top: -8px;
      left: 0;
      transform: translateY(-100%);
    }

    .preview-wrapper {
      box-shadow: 0 3px 30px rgba(0,0,0,.05);
      background-color: $primary-1;
      border: 1px solid $primary-2;
      border-radius: 3px;
      transition: all 250ms cubic-bezier(.02,.01,.47,1);

      &:after {
        display: block;
        content: '';

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0px 12px 30px rgba(0,0,0,0.05);

        opacity: 0;
        transform: scale(0.8);
        transition: all 250ms cubic-bezier(.02,.01,.47,1);
      }
      &:hover, &:active {

        transform: translate(0,-10px);

        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }

      .preview-link {
        width: 100%;        
        display: inline-block;
        text-decoration: none;
        background-color: $primary-1;

        .preview-img {
          height: 90px;
          width: 100%;
          position: relative;
          overflow: hidden;
          background-color: #476079;
          background-size: cover;
          border-bottom: 1px solid $primary-2;

          &:after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            opacity: 0;
            background-color: #d2d2d2;
            background-image: linear-gradient($primary-2 50%, $primary-1 50%);
            background-size: 5px 7px;
          }
        }

        .preview-body {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          padding: 32px 4px 12px 4px;
          position: relative;
          min-width: 200px;
          max-width: 100%;

          .preview-title {
            position: relative;
            display: flex;
            align-items: center;
            padding: 8px 16px;
            background: $primary-1;
            font-weight: 400;
            text-align: left;
            transform: translateX(-14px);
            box-shadow: 0px 3px 30px rgba(0,0,0,0.05);
            margin: 0;

            &:after {
              display: block;
              content: '';
              position: absolute;
              bottom: -10px;
              left: 0;
              border-style: solid;
              border-width: 5px;
              width: 0;
              height: 0;
              border-color: $primary-3 $primary-3 transparent transparent;
            }

            span {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;

              font-size: 19px;
              font-weight: 600;
              color: $body-accent-text;
            }
            
          }
          .preview-summary {
            margin: 16px 8px 0 8px;
          }

          .preview-summary {
            color: $body-text;
            text-align: left;
            text-decoration: none;
            line-height: 1.75;
          }
        }
      }

      .preview-footer {
        display: grid;
        grid-template-columns: 24px 1fr auto 24px;
        align-items: center;
        height: 56px;
        padding: 16px;
        background: $primary-1;
        
          svg {
            fill: $body-text;
            margin: 0 4px;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
          }
          .date, .tags {
            height: 24px;
            padding: 0 8px;
            display: inline-flex;
            align-items: center;
            white-space: nowrap;
          }
          .tags {
            margin: 0;

            li {
              margin: 0 2px;
          }
        }
      }
    }
  }

  .post-preview, .post-preview--featured {
    .preview-footer {
      border-top: 1px solid $primary-2;

      .tags {
        overflow: hidden;

        li {
          display: inline-block;

          a {
            @include block-link();
            
            &:before {
              display: inline;
              content: '#'
            }
          }
        }
      }
    }
  }

  .cell-preview--footer {
    display: flex;
    justify-content: flex-end;

    @media #{$mobile} {
      justify-content: center;
    }
    
    .footer-cta {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 8px;
      margin: 0 4px;
      border-radius: 3px;

      @include bold-link();

      svg {
        height: 16px;
        width: 16px;
      }
      * {
        margin: 0 4px;
      }
      

      &:hover:not(.disabled), &.active:not(.disabled) {
        background: $accent-1;
        color: $accent-1-text;

        svg {
          fill: $accent-1-text;
        }
      }
      &:only-child {
        @media #{$mobile} {
          width: 100%;
        }
      }
    }
  }

  .about {
    color: $body-text;
    background: $primary-1;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.1);

    @media #{$mobile} {
      width: 100%;
    }
    .profile-picture {
      margin: 0;

      img {
        width: 100%;
        opacity: 0.9;

        @media #{$mobile} {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
    .about-content {
      padding: 16px;

      p {
        line-height: 1.55;
        margin: 0;

        a {
          @include block-link();
        }
      }
      h1 {
        color: $body-accent-text;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 16px 0 8px 0;
        padding: 0 0 4px 0;
      }
      .social {
        display: inline-block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;

          li {
            width: 50%;
            margin: 4px 0;
            float: left;

            @media #{$mobile} {
              width: 100%;
            }

            a {
              @include block-link();
              display: inline-flex;
              align-items: center;
              text-decoration: none;

              svg {
                height: 16px;
                margin-right: 8px;
              }
            }
          }

          .social--github {
            path {
              fill: $body-accent-text;
            }
          }
      }
    }
  }
}